@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3D Flip Animatsiyasi uchun qo'shimcha stillar */
.perspective-1000 {
  perspective: 1000px;
}
.style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* Scrollbar yashirish */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
